.button1{
    -fx-background-color:#FF4C20;
    -fx-background-radius:6px;
    -fx-text-fill: white;
}
.button1:hover{
   -fx-background-color:#E6441D;
} 
.button2{
      -fx-background-color:#14ACE0;
      -fx-background-radius:6px;
      -fx-text-fill:white;
}
.button2:hover{
   -fx-background-color:#1379C4;
} 
.close{
   -fx-background-color:transparent;
}
.close:hover{
    -fx-background-color:#F80422;
}